body {
  background-color: #101010;
  font-size: 64px;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

.faux {
  color: #f0f0f0;
  z-index: 2;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-top: -0.5em;
  position: relative;
  text-align: center;
  top: 50%;
}

span {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 0.25em;
  font-weight: bold;
  left: 100%;
  position: absolute;
  white-space: nowrap;
  z-index: 1;
}
